<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-Light.ttf</string>
		<string>SourceSansPro-Black.ttf</string>
		<string>SourceSansPro-ExtraLight.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>background</string>
		<key>UIImageName</key>
		<string>logo</string>
	</dict>
</dict>
</plist>
